[validator_01]
XXX.XXX.XXX.XXX
[validator_01:vars]
node_name=Validator-1

[validator_02]
XXX.XXX.XXX.XXX
[validator_02:vars]
node_name=Validator-2

[validator:children]
validator_01
validator_02

# Common variables
[all:vars]
project=ProjectTest
ansible_user=root
ansible_python_interpreter=/usr/bin/python3

# Can be left as is.
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ConnectTimeout=15'
build_dir=$HOME/.config/polkadex-secure-validator/build/w3f/ansible

# Specify which `polkadex` release zip to install. Checksum is for the polkadex-node binary inside the zip and is verified during execution.
polkadex_binary_url='https://github.com/Polkadex-Substrate/Polkadex/releases/latest/download/PolkadexNodeUbuntu.zip'
polkadex_binary_checksum='sha256:e4c69e30d91bd20585713f779211025d0c2ea100171af80a0e3ea025191e90e6' #1.0.8 checksum, shasum -a 256 /Users/gare

# Nginx authentication settings (for Prometheus).
nginx_user='prometheus'
nginx_password='password'

# Node exporter settings. Disabled by default.
node_exporter_enabled='true'
node_exporter_binary_url='https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz'
node_exporter_binary_checksum='sha256:b2503fd932f85f4e5baf161268854bf5d22001869b84f00fd2d1f57b51b72424'

# Polkadex service restart settings. Disabled by default (recommended). Adjust values accordingly.
polkadex_restart_enabled='true'

# prometheus settings. Disabled by default.
prometheus_enabled='true'
prometheus_binary_url='https://github.com/prometheus/prometheus/releases/download/v2.26.0/prometheus-2.26.0.linux-amd64.tar.gz'
prometheus_binary_checksum='sha256:8dd6786c338dc62728e8891c13b62eda66c7f28a01398869f2b3712895b441b9'
